---
import ContactForm from "../contactForm/ContactForm.jsx";
console.log(Astro);

const isHome = Astro.url.pathname === "/";
---

<section class="container mx-auto overflow-auto">
  <ContactForm client:visible />
</section>
{
  isHome && (
    <section class="flex mx-auto text-center my-16 py-16 text-white flex-col justify-center items-center bg-blue-900">
      <img src="" alt="" />
      <div class="text-5xl font-bold mb-6">Visítanos</div>
      <div class="text-xl max-w-96 mb-6">
        <img class="" />
        Estamos cerca de ti, ven a nuestras instalaciones si necesitas más
        información.
      </div>
      <div class="text-2xl font-semibold max-w-96">
        Alexander Von Humboldt #8, Lomas Verdes, C.P. 53125, Naucalpan de
        Juárez, Estado de México
      </div>
    </section>
  )
}
<style></style>
