---
import Layout from "../layouts/Layout.astro";
import Slider from "../components/slider/Slider";
import AplicationsShowcase from "../components/aplicationsShowCase/AplicationsShowCase";
import "../styles/home.sass";
import { Spacer } from "@nextui-org/react";
import {
  ClockIcon,
  PhoneIcon,
  MailIcon,
  AmongUsIcon,
} from "../assets/svgs/contactSectionIcons.jsx";
---

<Layout title="Welcome to Astro.">
  <main class="overflow-x-hidden">
    <Slider client:visible />
    <div class="container mx-auto my-16">
      <AplicationsShowcase client:visible />
      <Spacer y={16} />
      <section>
        <div class="text-5xl">Contacto</div>
        <div class="grid grid-cols-3 gap-4 my-16">
          <div class="flex justify-center flex-col items-center">
            <ClockIcon height="90" width="90" /><span class="my-4 text-center"
              >Lun - Vie: 9 a 18 hrs Sáb - Dom: No Se Labora</span
            >
          </div>
          <div class="flex justify-center flex-col items-center">
            <PhoneIcon height="90" width="90" /><span class="my-4 text-center"
              >(+52) 55-1668-6096</span
            >
          </div><div class="flex justify-center flex-col items-center">
            <MailIcon height="90" width="90" /><span class="my-4 text-center"
              >marketing@jetrix.com.mx atencionaclientes@jetrix.com.mx</span
            >
          </div><div
            class="col-start-2 flex justify-center flex-col items-center"
          >
            <AmongUsIcon height="90" width="90" /><span class="my-4 text-center"
              >(+52) 55-7113-8164</span
            >
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>

<style lang="sass">
  main
    font-size: 20px
</style>
