---

---

<footer class="container mx-auto columns-3xs">
  <div class="flex justify-center">Términos y condiciones</div>
  <div class="flex justify-center">
    © 2023 Jetrix. Todos los derechos reservados
  </div>
  <div class="flex justify-center">Aviso de privacidad</div>
</footer>
